[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
astroid = "==2.0.4"
django-rest-swagger = "==0.3.10"
djangorestframework = "==3.9.4"
psycopg2-binary = "==2.8.3"
requests = "==2.20.0"
Django = "==1.11.29"
uWSGI = "~=2.0"
# lsh@2020-07: pinned, isort==5.0.3 has changed it's api
isort = "~=4.3"

[dev-packages]
coverage = "==4.5.1"
pylint = "==2.1.1"
pylint-django = "==2.0.2"
