# file generated 2023-05-26 - see update-dependencies.sh
asgiref==3.7.1
astroid==2.11.7
certifi==2023.5.7
charset-normalizer==3.1.0
coverage==4.5.4
dill==0.3.6
Django==3.2.19
djangorestframework==3.14.0
idna==3.4
isort==4.3.21
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.5.1
psycopg2-binary==2.8.6
pylint==2.14.5
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pytz==2023.3
PyYAML==5.4.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.2
urllib3==2.0.2
uWSGI==2.0.21
wrapt==1.15.0
