# file generated 2023-02-17 - see update-dependencies.sh
asgiref==3.6.0
astroid==2.11.7
certifi==2022.12.7
charset-normalizer==3.0.1
coverage==4.5.4
dill==0.3.6
Django==3.2.18
djangorestframework==3.14.0
idna==3.4
isort==4.3.21
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.0.0
psycopg2-binary==2.8.6
pylint==2.14.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.7.1
PyYAML==5.4.1
requests==2.28.2
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
urllib3==1.26.14
uWSGI==2.0.21
wrapt==1.14.1
